<div class="back">
  <div class="head">
    <div class="head-in">
      <div class="title">
        <h1>Electronic Store</h1>
        <h2>High Quality and Best Prices</h2>
      </div>
      <div class="block2">

        <div class="click">
          <a routerLink="/products"
            ><img
              src="https://png.pngtree.com/png-clipart/20230529/ourmid/pngtree-click-here-button-banner-label-tag-png-image_7113881.png"
              alt=""
          /></a>
        </div>
        <div class="transp">
          <img
            src="https://www.transparentpng.com/thumb/laptop/hgzvBa-laptop-png-images-you-can-download-free-mashtrelo.png"
            alt="lenovo e49 blue screen laptop backgorund photos @transparentpng.com"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="photos">
    <div class="photo row1">
      <div class="ph">
        <img
          src="https://www.dgdisplay.com/uploadfiles/pictures/product/20190520112010_0151.jpg"
          alt=""
        />
      </div>

      <div class="ph">
        <img
          src="https://fastly.4sqi.net/img/general/600x600/3eq_nbQbqoApe8Cony467eXYXnI0PhJ7VYPUp1CmXFM.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="photo row2">
      <div class="ph">
        <img
          src="https://t4.ftcdn.net/jpg/04/42/19/09/240_F_442190980_qjzLbesSAN3c56whoB03XfWM0rce7CZD.jpg"
          alt=""
        />
      </div>
      <div class="ph">
        <img
          src="https://t4.ftcdn.net/jpg/06/50/85/53/240_F_650855371_BQjYihnFUpJadW7mHxdaJpUykOdhmY1h.jpg"
          alt=""
        />
      </div>
      <div class="ph">
        <img
          src="https://t3.ftcdn.net/jpg/07/48/32/44/240_F_748324479_90hTsSlxxkPwUzClehgZu6i2Y5OS6RHO.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
